# Port du serveur API
PORT=3000

# Connexion à la base de données PostgreSQL (Podman/Docker)
# Format : postgres://UTILISATEUR:MOT_DE_PASSE@localhost:5432/NOM_DE_LA_BASE
DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/musicroom

# Lus par docker-compose (doivent correspondre à DATABASE_URL)
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=musicroom

# Clé secrète pour générer les badges de connexion (Tokens JWT)
JWT_SECRET=CHANGE_ME